<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Affordable and Professional E-commerce Platform">
    <meta name="keywords" content="affordable web design , web design , professional web design">
    <meta name="author" content="Ours Group">
    <title>E-Commerce | Home</title>
    <link rel="icon" href="./images/favicon/favicon.ico">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1><span class="highlight">E-Commerce</span> Website</h1>
            </div>
        </div>
    </header>

<div class="alert alert-danger" role="alert">
  Sorry, we couldn't find the account with that email !
</div>

<div class="back">
  <div class="div-center">
    <div class="content">
      <h2><strong>Welcome !</strong></h2>
      <form action="/login" method="post">


        <div class="form-group">
          <input type="email" class="form-control" name="Email" placeholder="Email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="Password" placeholder="Password">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="person"placeholder="customer/seller">
        </div>
        <button type="submit" class="btn btn-warning">Login</button>
        <a class="btn btn-outline-secondary"href="/signup">Signup</a>

      </form>
    </div>
    </span>
  </div>
