<% if(person === "customer"){ %>
  <%- include('header0'); -%>
<% } else { %>
  <%- include('sellerHeader'); -%>
<% } %>


<div class="alert alert-success" role="alert">
  Thank You, Account has created successfully !
</div>
