.checkout{
  color: #F6C90E;
  padding-top: 20%;
  font-weight: bold;
}

.homeHeading{
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

.h-100{
  padding-top: 40px;
  /* margin-top: 60px; */
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

body {
    /* font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5; */
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #F7F7F7;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0;
}

/*Header*/
header {
    background-color: #000;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #000 3px solid;
}

.form {
    margin-top: 30px;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding h1 {
    float: left;
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight,
header .current a {
    color: #F6C90E;
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}

.select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

.formDiv {
    margin: 10px 100px 10px 100px;
}

.form input[type=text] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #F6C90E;
    border-radius: 4px;
    transition: width 0.4s ease-in-out;
}

.form input[type=text]:focus {
    width: 100%;
}

.form label {
    font-size: 20px;
    margin-top: auto;
}

#phone_number {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #F6C90E;
    border-radius: 4px;
}

#phone_number {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #F6C90E;
    border-radius: 4px;
    transition: width 0.4s ease-in-out;
}

#phone_number:focus {
    width: 100%;
}

.select option {
    font-size: 100px;
}

.submit {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 40px;
    color: #ffffff;
    text-align: center;
    background-color: #000;
}

input[type=submit] {
    background-color: #F6C90E;
    border: none;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #FFFFFF;
    border: solid 2px #F6C90E;
    color: #F6C90E;
  }




  .back {
  /* background: #e2e2e2; */
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.div-center {
  width: 400px;
  height: 400px;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 1em 2em;
  border-bottom: 2px solid #ccc;
  display: table;
}

div.content {
  display: table-cell;
  vertical-align: middle;
}

.height {
    min-height: 200px;
}

.icon {
    font-size: 47px;
    color: #5CB85C;
}

.iconbig {
    font-size: 77px;
    color: #5CB85C;
}

.table > tbody > tr > .emptyrow {
    border-top: none;
}

.table > thead > tr > .emptyrow {
    border-bottom: none;
}

.table > tbody > tr > .highrow {
    border-top: 3px solid;
}
